body {
  padding: 10px 20px;
}

p {
  margin: 0;
  color: #4e4e4e;
  color: #241f1f;
}

input {
  display: block;
  margin: 5px;
  width: 500px;
  border-radius: 5px;
  padding: 5px 8px;
  border: 1px solid #ccc;
}

input:disabled{
  background: #ddd;
  user-select: none;
}

button {
  color: #241f1f;
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

button:disabled{
  background: #ddd;
  cursor: default;
}

.input-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.divider {
  height: 1px;
  background: #ccc;
  margin: 10px 0;
  width: 100%;
}

.tx {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.tx-heading {
  font-weight: bold;
}
.tx-content {
  margin-bottom: 5px;
}
.address {
  margin-bottom: -6px;
  font-size: 14px;
  width: 600px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 4px;
  user-select: none;
}

@media(max-width:1000px) {
  .address {
    width: calc(100% - 75px);
  }
}
.address:hover{
  background: #ccc;
  transition: all 0.2s ease-in;
  border-radius: 5px;
  cursor: pointer;
}

.amount {
  font-weight: bold;
}
